<%= form_for(@pool) do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% @pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag( 'pool_category_type', 'Categoría' ) %><br>
    <%= f.select( :category_type, options_for_select( @pool.categories.collect {|c| c.reverse}), :prompt => '--Seleccionar--' ) %>
  </div>

  <% @pool.categories.keys.each do |category| %>
    <div id= <%= category %> class="field hidden">
      <%= label_tag( 'pool_category_id', 'Código' ) %><br>
      <%= select_tag( :category_id, options_for_select( eval( category+'.all.collect {|k| [k.code,k.id] }') ), class: 'asd', :prompt => '--Seleccionar--' ) %>
    </div>
  <% end %>
   
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :n_comprobante %><br>
    <%= f.text_field :n_comprobante %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
