<%= form_for(@pool) do |f| %>
    <tr>
      <td>
        <div class="form-group">        
          <%= f.select( :category_type, options_for_select( categories.collect { |category| [eval(category+'.new.table_name_to_show'), category] }, @pool.category_type ), :class => "form-control form-control-sm", :prompt => '--Seleccionar--' ) %>
        </div>
      </td>
      <td>
        <% categories.each do |category| %>
          <div id= <%= category %> class="form-group <%= 'hidden' if @pool.category_type != category %>">          
            <%= select_tag_for(@pool, category, f) %>
          </div>
        <% end %>
      </td>
      <td>
        <div class="form-group">        
          <%= f.select( :razon_social_id, options_for_select( RazonSocial.all.collect { |e| [ e.name, e.id ] }, @pool.razon_social_id ), :class => 'form-control form-control-sm', :prompt => '--Seleccionar--' ) %>
        </div>
      </td>
      <td>
        <div class="form-group">        
        <%= f.text_field :monto, class: "form-control form-control-sm" %>
        </div>
      </td>
      <td>
        <div class="form-group">        
          <%= f.text_field :balance, class: "form-control form-control-sm" %>
        </div>
      </td>
      <td>
        <div class="form-group">        
          <%= f.text_field :cuenta, class: "form-control form-control-sm" %>
        </div>
      </td>
      <td>
        <div class="form-group">        
          <%= f.text_field :comprobante_type, class: "form-control form-control-sm" %>
        </div>
      </td>
      <td>
        <div class="form-group">        
          <%= f.text_field :n_comprobante, class: "form-control form-control-sm" %>
        </div>
      </td>
      <td>
        <div class="form-group">        
          <%= f.text_area :description, class: "form-control form-control-sm" %>
        </div>
      </td>
    </tr>
<table>
  <tbody>
    <div class="actions">
      <%= f.submit %>
    </div>
  </tbody>
</table>
<% end %>