<%= form_for(@pool) do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% @pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag( 'pool_category_type', 'Categoría' ) %><br>
    <%= f.select( :category_type, options_for_select( categories.collect { |category| [eval(category+'.new.table_name_to_show'), category] }, @pool.category_type ), :prompt => '--Seleccionar--' ) %>
  </div>

  <% categories.each do |category| %>
    <div id= <%= category %> class="field <%= 'hidden' if @pool.category_type != category %>">
      <%= label_tag( 'pool_category_id', 'Código' ) %><br>
      <%= select_tag_for(@pool, category, f) %>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag( 'pool_razon_social_id', RazonSocial.new.table_name_to_show ) %><br>
    <%= f.select( :razon_social_id, options_for_select( RazonSocial.all.collect { |e| [ e.name, e.id ] }, @pool.razon_social_id ), :prompt => '--Seleccionar--' ) %>
  </div>
    <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :n_comprobante %><br>
    <%= f.text_field :n_comprobante %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
