<p id="notice"><%= notice %></p>
<h1>Listing <%= Pool.new.table_name_to_show %></h1>
<p><%= render 'layouts/modal', :@pool => @new_pool, :@btn_name => 'Nuevo Registro', :@id => 'new_pool' %></p>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Categoria</th>
        <th>Nombre o Alias</th>      
        <th><%= RazonSocial.new.table_name_to_show %></th>   
        <th>Monto</th>
        <th>Balance</th>
        <th>Cuenta</th>
        <th>Tipo de comprobante</th>
        <th>Nº comprobante</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @pools.reverse.each do |pool| %>
        <tr>
          <td><%= pool.date_of %></td>
          <td><%= (link_to pool.category.table_name_to_show, pool.category.class) if pool.category %></td>
          <td><%= (link_to pool.category.record_name_to_show, pool.category) if pool.category %></td>
          <td><%= (link_to pool.razon_social.record_name_to_show, pool.razon_social) if pool.razon_social %></td>
          <td><%= pool.monto %></td>
          <td><%= pool.balance %></td>
          <td><%= pool.cuenta %></td>
          <td><%= pool.comprobante_type %></td>
          <td><%= pool.n_comprobante %></td>
          <td><%= pool.description %></td>
          <td><%= render 'layouts/modal', :@pool => pool, :@btn_name => 'Editar', :@id => "edit_pool_#{pool.id}" %></td>
          <td><%= link_to '×', pool, :method => :delete, :data => { :confirm => '¿Está seguro?' },:remote => true, :class => "delete_row close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
