<p id="notice"><%= notice %></p>

<p>
  <strong><%= @pool.category_type %></strong>
  <%= @pool.category.code %>  
</p>

<p>
  <strong>Monto:</strong>
  <%= @pool.monto %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @pool.balance %>
</p>

<p>
  <strong>cuenta:</strong>
  <%= @pool.cuenta %>
</p>

<p>
  <strong>comprobante_type:</strong>
  <%= @pool.comprobante_type %>
</p>

<p>
  <strong>N comprobante:</strong>
  <%= @pool.n_comprobante %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pool.description %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
