<p id="notice"><%= notice %></p>

<p>
  <strong>Odt:</strong>
  <%= @pool.odt %>
</p>

<p>
  <strong>Gg:</strong>
  <%= @pool.gg %>
</p>

<p>
  <strong>Inversion:</strong>
  <%= @pool.inversion %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @pool.loan %>
</p>

<p>
  <strong>Retencione:</strong>
  <%= @pool.retencione %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @pool.monto %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @pool.balance %>
</p>

<p>
  <strong>N comprobante:</strong>
  <%= @pool.n_comprobante %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pool.description %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
