<%= form_for(@deducciones_odt) do |f| %>
  <% if @deducciones_odt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deducciones_odt.errors.count, "error") %> prohibited this deducciones_odt from being saved:</h2>

      <ul>
      <% @deducciones_odt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :odt_id %><br>
    <%= f.text_field :odt_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :p_gasto %><br>
    <%= f.text_field :p_gasto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
