<%= form_for(@deducciones_odt) do |f| %>
  <% if @deducciones_odt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deducciones_odt.errors.count, "error") %> prohibited this deducciones_odt from being saved:</h2>

      <ul>
      <% @deducciones_odt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag( 'deducciones_odt_odt_id', Odt.new.table_name_to_show ) %><br>
    <%= f.select( :odt_id, options_for_select( Odt.all.collect{ |e| [e.record_name_to_show, e.id ] }, @deducciones_odt.odt_id ), :prompt => '--Seleccionar--' ) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :p_gasto %><br>
    <%= f.text_field :p_gasto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
