<p id="notice"><%= notice %></p>

<h1>Listing Deducciones Odts</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to Odt.new.table_name_to_show, odts_path  %></th>
      <th>Name</th>
      <th><%= DeduccionesOdt.new.table_name_to_show %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deducciones_odts.each do |deducciones_odt| %>
      <tr>
        <td><%= link_to deducciones_odt.odt.record_name_to_show, deducciones_odt.odt %></td>
        <td><%= deducciones_odt.name %></td>
        <td><%= deducciones_odt.p_gasto %></td>
        <td><%= link_to 'Show', deducciones_odt %></td>
        <td><%= link_to 'Edit', edit_deducciones_odt_path(deducciones_odt) %></td>
        <td><%= link_to 'Destroy', deducciones_odt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deducciones odt', new_deducciones_odt_path %>
