<p id="notice"><%= notice %></p>

<p>
  <strong><%= Odt.new.table_name_to_show %>:</strong>
  <%= ( link_to @deducciones_odt.odt.record_name_to_show, @deducciones_odt.odt ) if @deducciones_odt.odt %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @deducciones_odt.name %>
</p>

<p>
  <strong><%= DeduccionesOdt.new.table_name_to_show %>:</strong>
  <%= @deducciones_odt.p_gasto %>
</p>

<%= link_to 'Edit', edit_deducciones_odt_path(@deducciones_odt) %> |
<%= link_to 'Back', deducciones_odts_path %>
