<p id="notice"><%= notice %></p>

<h1>Listing Razon Socials</h1>

<table>
  <thead>
    <tr>
      <th>Rif ci</th>
      <th>Name</th>
      <th>Description</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact name</th>
      <th>Contact phone</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @razon_socials.each do |razon_social| %>
      <tr>
        <td><%= razon_social.rif_ci %></td>
        <td><%= razon_social.name %></td>
        <td><%= razon_social.description %></td>
        <td><%= razon_social.phone %></td>
        <td><%= razon_social.email %></td>
        <td><%= razon_social.address %></td>
        <td><%= razon_social.contact_name %></td>
        <td><%= razon_social.contact_phone %></td>
        <td><%= razon_social.contact_email %></td>
        <td><%= link_to 'Show', razon_social %></td>
        <td><%= link_to 'Edit', edit_razon_social_path(razon_social) %></td>
        <td><%= link_to 'Destroy', razon_social, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Razon social', new_razon_social_path %>
