<p id="notice"><%= notice %></p>

<p>
  <strong>Rif ci:</strong>
  <%= @razon_social.rif_ci %>
</p>

<p>
  <strong>Name:</strong>
  <%= @razon_social.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @razon_social.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @razon_social.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @razon_social.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @razon_social.address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @razon_social.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @razon_social.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @razon_social.contact_email %>
</p>

<%= link_to 'Edit', edit_razon_social_path(@razon_social) %> |
<%= link_to 'Back', razon_socials_path %>
