<p id="notice"><%= notice %></p>
<h1>Listing <%= Employee.new.table_name_to_show %></h1>
<p><%= render 'layouts/modal', :@employee => @new_employee, :@btn_name => 'Nuevo Registro', :@id => 'new_employee' %></p>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Startdate</th>
        <th>Note</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.reverse.each do |employee| %>
        <tr>
          <td><%= employee.cedula %></td>
          <td><%= employee.name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.phone_number %></td>
          <td><%= employee.email %></td>
          <td><%= employee.address %></td>
          <td><%= employee.startdate %></td>
          <td><%= employee.note %></td>
          <td><%= render 'layouts/modal', :@employee => employee, :@btn_name => 'Editar', :@id => "edit_employee_#{employee.id}" %></td>
          <td><%= link_to '×', employee, method: :delete, data: { confirm: '¿Está seguro?' }, class: "close equis" %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>
</div>

