<%= form_for(@auth_group) do |f| %>
  <% if @auth_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_group.errors.count, "error") %> prohibited this auth_group from being saved:</h2>

      <ul>
      <% @auth_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :odt %><br>
    <%= f.check_box :odt %>
  </div>

  <div class="field">
    <%= f.label :gg %><br>
    <%= f.check_box :gg %>
  </div>

  <div class="field">
    <%= f.label :inversion %><br>
    <%= f.check_box :inversion %>
  </div>

  <div class="field">
    <%= f.label :employee %><br>
    <%= f.check_box :employee %>
  </div>

  <div class="field">
    <%= f.label :retencione %><br>
    <%= f.check_box :retencione %>
  </div>

  <div class="field">
    <%= f.label :pool %><br>
    <%= f.check_box :pool %>
  </div>

  <div class="field">
    <%= f.label :razon_social %><br>
    <%= f.check_box :razon_social %>
  </div>

  <div class="field">
    <%= f.label :auth_group %><br>
    <%= f.check_box :auth_group %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
