<p id="notice"><%= notice %></p>
<h1><%= Provincial.new.table_name_to_show %></h1>
<p><%= render 'layouts/modal', :@provincial => @new_provincial, :@btn_name => 'Nuevo Registro', :@id => 'new_provincial' %></p>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Nombre o Alias</th>      
        <th><%= RazonSocial.new.table_name_to_show %></th>   
        <th>Monto</th>
        <th>Balance</th>
        <th>Tipo de comprobante</th>
        <th>Nº comprobante</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @provincials.reverse.each do |provincial| %>
        <tr>
          <td><%= provincial.date_of %></td>
          <td><%= (link_to provincial.category.table_name_to_show, provincial.category.class) if provincial.category %></td>
          <td><%= (link_to provincial.category.record_name_to_show, provincial.category) if provincial.category %></td>
          <td><%= (link_to provincial.razon_social.record_name_to_show, provincial.razon_social) if provincial.razon_social %></td>
          <td><%= provincial.monto %></td>
          <td><%= provincial.balance %></td>
          <td><%= provincial.comprobante_type %></td>
          <td><%= provincial.n_comprobante %></td>
          <td><%= provincial.description %></td>
          <td><%= render 'layouts/modal', :@provincial => provincial, :@btn_name => 'Editar', :@id => "edit_provincial_#{provincial.id}" %></td>
          <td><%= link_to '×', provincial, method: :delete, data: { confirm: '¿Está seguro?' }, class: "close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>