<%= form_for(@employee_group) do |f| %>
  <% if @employee_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_group.errors.count, "error") %> prohibited this employee_group from being saved:</h2>

      <ul>
      <% @employee_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :auth_group_id %><br>
    <%= f.text_field :auth_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
