<p id="notice"><%= notice %></p>

<h1>Listing Employee Groups</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to Employee.new.table_name_to_show, employees_path %></th>
      <th><%= link_to AuthGroup.new.table_name_to_show, auth_groups_path %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_groups.each do |employee_group| %>
      <tr>
        <td><%= (link_to employee_group.employee.record_name_to_show, employee_group.employee) if employee_group.employee %></td>
        <td><%= (link_to employee_group.auth_group.record_name_to_show, employee_group.auth_group) if employee_group.auth_group %></td>
        <td><%= link_to 'Show', employee_group %></td>
        <td><%= link_to 'Edit', edit_employee_group_path(employee_group) %></td>
        <td><%= link_to 'Destroy', employee_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee group', new_employee_group_path %>
