<p id="notice"><%= notice %></p>

<p>
  <strong><%= Employee.new.table_name_to_show %>:</strong>
  <%= @employee_group.employee %>
</p>

<p>
  <strong><%= AuthGroup.new.table_name_to_show %>:</strong>
  <%= @employee_group.auth_group %>
</p>

<%= link_to 'Edit', edit_employee_group_path(@employee_group) %> |
<%= link_to 'Back', employee_groups_path %>
