<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @gg.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gg.description %>
</p>

<%= link_to 'Edit', edit_gg_path(@gg) %> |
<%= link_to 'Back', ggs_path %>
