<%= form_for(@odt) do |f| %>
  <% if @odt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odt.errors.count, "error") %> prohibited this odt from being saved:</h2>
        <ul>
          <% @odt.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :code, class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :alias, class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :alias, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :description, class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= label_tag( 'odt_razon_social_id', RazonSocial.new.table_name_to_show, class: "control-label") %>
    </div>
    <div class="col-sm-10">
      <%= f.select( :razon_social_id, options_for_select( RazonSocial.all.collect{ |e| [e.record_name_to_show, e.id ] }, @odt.razon_social_id ), { prompt: '--Seleccionar--'}, { class: "form-control c-select" }) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :monto_contrato, class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :monto_contrato, class: "form-control" %>
    </div>
  </div>
  <%= f.fields_for :comision_odts, @odt.comision_odts do |comision_odt_form| %>
    <div class="form-group row">
      <div class="col-sm-2">
        <%= comision_odt_form.label( 'comision_odt_employee_id', Employee.new.table_name_to_show ) %><br>
      </div>
      <div class="col-sm-5">
        <%= comision_odt_form.select( :employee_id, options_for_select( Employee.all.collect{ |e| [e.record_name_to_show, e.id ] }, @odt.comision_odts.new.employee_id ), { prompt: '--Seleccionar--'}, { class: "form-control c-select" }) %>
      </div>
      <div class="col-sm-5">
        <%= comision_odt_form.text_field :p_comision, class: "form-control" %>
      </div>
    </div>
  <% end %>
<% end %>
