<%= form_for(@odt) do |f| %>
  <% if @odt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odt.errors.count, "error") %> prohibited this odt from being saved:</h2>

      <ul>
      <% @odt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= label_tag( 'odt_razon_social_id', RazonSocial.new.table_name_to_show ) %><br>
    <%= f.select( :razon_social_id, options_for_select( RazonSocial.all.collect{ |e| [e.record_name_to_show, e.id ] }, @odt.razon_social_id ), :prompt => '--Seleccionar--' ) %>
  </div>
  <div class="field">
    <%= f.label :monto_contrato %><br>
    <%= f.text_field :monto_contrato %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
