<p id="notice"><%= notice %></p>

<h1><%= Odt.new.table_name_to_show %></h1>

<p><%= render "layouts/modal", :@odt => @new_odt, :@btn_name => 'Nuevo Registro', :@id => 'new_odt' %> </p>
<div class="table-responsive">
  <table  class="table table-sm table-hover table-striped table-bordered">
    <thead>
       <tr>
        <th>Code</th>
        <th>Alias</th>
        <th>Description</th>
        <th><%= RazonSocial.new.table_name_to_show %></th>
        <th>Monto contrato</th>
        <th><%= link_to Employee.new.table_name_to_show, employees_path %></th>
        <th><%= link_to ComisionOdt.new.table_name_to_show, comision_odts_path %></th>
        <th>Deduccion</th>
        <th><%= DeduccionesOdt.new.table_name_to_show %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @odts.reverse.each do |odt| %>
        <tr>
          <td><%= odt.code %></td>
          <td><%= odt.alias %></td>
          <td><%= odt.description %></td>
          <td><%= link_to odt.razon_social.record_name_to_show, odt.razon_social%></td>
          <td><%= odt.monto_contrato %></td>
          <td>
              <% odt.comision_odts.each do |c| %>
                <%= link_to c.employee.record_name_to_show, c.employee %><br>
              <% end %>
          </td>  
          <td>
              <% odt.comision_odts.each do |c| %>
                <%= c.p_comision %><br>
              <% end %>
          </td>  
          <td>
            <% odt.deducciones_odts.each do |d| %>
              <%= d.name %>
            <% end %>
          </td>  
          <td>
            <% odt.deducciones_odts.each do |d| %>
              <%= d.p_gasto %>
            <% end %>
          </td>

          <td><%= render "layouts/modal", :@odt => odt, :@btn_name => 'Editar', :@id => "edit_odt_#{odt.id}" %></td>
          <td><%= link_to '×', odt, method: :delete, data: { confirm: 'Are you sure?' }, class: "close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>