<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @odt.code %>
</p>
<p>
  <strong>Alias:</strong>
  <%= @odt.alias %>
</p>

<p>
  <strong>Description:</strong>
  <%= @odt.description %>
</p>

<p>
  <strong><%= RazonSocial.new.table_name_to_show %>:</strong>
  <%= @odt.razon_social.record_name_to_show if @odt.razon_social %>
</p>

<p>
  <strong>Monto contrato:</strong>
  <%= @odt.monto_contrato %>
</p>

<%= link_to 'Edit', edit_odt_path(@odt) %> |
<%= link_to 'Back', odts_path %>
