<%= form_for(@comision_odt) do |f| %>
  <% if @comision_odt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comision_odt.errors.count, "error") %> prohibited this comision_odt from being saved:</h2>

      <ul>
      <% @comision_odt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag( 'comision_odt_odt_id', Odt.new.table_name_to_show ) %><br>
    <%= f.select( :odt_id, options_for_select( Odt.all.collect{ |e| [e.record_name_to_show, e.id ] }, @comision_odt.odt_id ), :prompt => '--Seleccionar--' ) %>
  </div>
  <div class="field">
    <%= label_tag( 'comision_odt_employee_id', Employee.new.table_name_to_show ) %><br>
    <%= f.select( :employee_id, options_for_select( Employee.all.collect{ |e| [e.record_name_to_show, e.id ] }, @comision_odt.employee_id ), :prompt => '--Seleccionar--' ) %>
  </div>
  <div class="field">
    <%= f.label :p_comision %><br>
    <%= f.text_field :p_comision %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
