<p id="notice"><%= notice %></p>
<h1>Listing <%= ComisionOdt.new.table_name_to_show %></h1>
<p>
  <%= render 'layouts/modal_button', :btn_name => 'Nuevo Registro', :namespace_id => "new_comision_odt" %>
  <%= render 'layouts/modal', :@comision_odt => @new_comision_odt, :modal_title => 'Añadir Comision', :namespace_id => 'new_comision_odt' %>
</p>
<div class="table-responsive">
  <table  class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th><%= link_to Odt.new.table_name_to_show, odts_path %></th>
        <th><%= link_to Employee.new.table_name_to_show, employees_path %></th>
        <th><%= link_to ComisionOdt.new.table_name_to_show, comision_odts_path %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @comision_odts.each do |comision_odt| %>
        <tr>
          <td><%= link_to comision_odt.odt.record_name_to_show, comision_odt.odt %></td>
          <td><%= link_to comision_odt.employee.record_name_to_show, comision_odt.employee %></td>
          <td><%= comision_odt.p_comision %></td>
          <td>
            <%= render 'layouts/modal_button', :btn_name => 'Editar', :namespace_id => "edit_comision_odt_#{comision_odt.id}" %>
            <%= render 'layouts/modal', :@comision_odt => comision_odt, :modal_title => 'Editar', :namespace_id => "edit_comision_odt_#{comision_odt.id}" %>
          </td>
          <td><%= link_to '×', comision_odt, method: :delete, data: { confirm: '¿Está seguro?' }, :remote => true, class: "close equis delete_row" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
