<p id="notice"><%= notice %></p>

<h1>Listing <%= ComisionOdt.new.table_name_to_show %></h1>

<p><%= render 'form', comision_odt: @comision_odt, btn_name: 'Añadir Comision', id: 'new_comision_odt' %> </p>
<div class="table-responsive">
  <table  class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th><%= link_to Odt.new.table_name_to_show, odts_path %></th>
        <th><%= link_to Employee.new.table_name_to_show, employees_path %></th>
        <th><%= link_to ComisionOdt.new.table_name_to_show, comision_odts_path %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @comision_odts.each do |comision_odt| %>
        <tr>
          <td><%= link_to comision_odt.odt.record_name_to_show, comision_odt.odt %></td>
          <td><%= link_to comision_odt.employee.record_name_to_show, comision_odt.employee %></td>
          <td><%= comision_odt.p_comision %></td>
          <td><%= render 'form', comision_odt: comision_odt, btn_name: 'Editar', id: "edit_comision_odt_#{comision_odt.id}" %></td>
          <td><%= link_to '×', comision_odt, method: :delete, data: { confirm: 'Are you sure?' }, class: "close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
