<p id="notice"><%= notice %></p>

<h1>Listing <%= ComisionOdt.new.table_name_to_show %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to RazonSocial.new.table_name_to_show, razon_socials_path %></th>
      <th><%= link_to Employee.new.table_name_to_show, employees_path %></th>
      <th><%= link_to ComisionOdt.new.table_name_to_show, comision_odts_path %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comision_odts.each do |comision_odt| %>
      <tr>
        <td><%= link_to comision_odt.odt.record_name_to_show, comision_odt.odt %></td>
        <td><%= link_to comision_odt.employee.record_name_to_show, comision_odt.employee %></td>
        <td><%= comision_odt.p_comision %></td>
        <td><%= link_to 'Show', comision_odt %></td>
        <td><%= link_to 'Edit', edit_comision_odt_path(comision_odt) %></td>
        <td><%= link_to 'Destroy', comision_odt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New '+ ComisionOdt.new.table_name_to_show, new_comision_odt_path %>
