<p id="notice"><%= notice %></p>

<p>
  <strong><%= Odt.new.table_name_to_show %>:</strong>
  <%= ( link_to @comision_odt.odt.record_name_to_show, @comision_odt.odt ) if @comision_odt.odt %>
</p>

<p>
  <strong><%= Employee.new.table_name_to_show %>:</strong>
  <%= ( link_to @comision_odt.employee.record_name_to_show, @comision_odt.employee ) if @comision_odt.employee %>
</p>

<p>
  <strong><%= ComisionOdt.new.table_name_to_show %>:</strong>
  <%= @comision_odt.p_comision %>
</p>

<%= link_to 'Edit', edit_comision_odt_path(@comision_odt) %> |
<%= link_to 'Back', comision_odts_path %>
