<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @loan.employee %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @loan.monto %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.description %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @loan.balance %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
