<p id="notice"><%= notice %></p>
<h1><%= Bod.new.table_name_to_show %></h1>
<p><%= render 'layouts/modal', :@bod => @new_bod, :@btn_name => 'Nuevo Registro', :@id => 'new_bod' %></p>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Nombre o Alias</th>      
        <th><%= RazonSocial.new.table_name_to_show %></th>   
        <th>Monto</th>
        <th>Balance</th>
        <th>Tipo de comprobante</th>
        <th>Nº comprobante</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @bods.reverse.each do |bod| %>
        <tr>
          <td><%= (link_to bod.category.table_name_to_show, bod.category.class) if bod.category %></td>
          <td><%= (link_to bod.category.record_name_to_show, bod.category) if bod.category %></td>
          <td><%= (link_to bod.razon_social.record_name_to_show, bod.razon_social) if bod.razon_social %></td>
          <td><%= bod.monto %></td>
          <td><%= bod.balance %></td>
          <td><%= bod.comprobante_type %></td>
          <td><%= bod.n_comprobante %></td>
          <td><%= bod.description %></td>
          <td><%= render 'layouts/modal', :@bod => bod, :@btn_name => 'Editar', :@id => "edit_bod_#{bod.id}" %></td>
          <td><%= link_to '×', bod, method: :delete, data: { confirm: 'Are you sure?' }, class: "close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
