<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_<%=id%>"><%=btn_name%>
</button>
<div class="modal fade" id="Modal_<%=id%>" tabindex="-1" role="dialog" aria-labelledby="Modal_<%=id%>Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="Modal_<%=id%>Label">Nuevo registro</h4>
       </div>
        <div class="modal-body">
          <%= form_for(inversion) do |f| %>
            <% if inversion.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(inversion.errors.count, "error") %> prohibited this inversion from being saved:</h2>

                <ul>
                <% inversion.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group row">
              <div class="col-sm-2">
                <%= f.label 'Código', class: "control-label" %><br>
              </div>
              <div class="col-sm-10">
                <%= f.text_field :code, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">
                <%= f.label 'Alias', class: "control-label" %><br>
              </div>
              <div class="col-sm-10">
                <%= f.text_field :alias, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">
                <%= f.label 'Descripción', class: "control-label" %><br>
              </div>
              <div class="col-sm-10">
                <%= f.text_area :description, class: "form-control" %>
              </div>
            </div>
          <% end %>
         </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Guardar registro', class: "btn btn-primary", form: id %>
        </div>
    </div>
  </div>
</div>
  


