<p id="notice"><%= notice %></p>

<h1>Listing Inversions</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Alias</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inversions.each do |inversion| %>
      <tr>
        <td><%= inversion.code %></td>
        <td><%= inversion.alias %></td>
        <td><%= inversion.description %></td>
        <td><%= link_to 'Show', inversion %></td>
        <td><%= link_to 'Edit', edit_inversion_path(inversion) %></td>
        <td><%= link_to 'Destroy', inversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inversion', new_inversion_path %>
