<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @inversion.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inversion.description %>
</p>

<%= link_to 'Edit', edit_inversion_path(@inversion) %> |
<%= link_to 'Back', inversions_path %>
