<%= form_for(@pool, namespace: namespace_id, remote: true, :html=> {:id => namespace_id}) do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation_<%=namespace_id%>">
      <h2><%= pluralize(@pool.errors.count, "error") %> prohibited this pool from being saved:</h2>
      <ul>
      <% @pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :account_id, :value => @pool.account_id.to_i %>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :date_of, "Fecha", class: "control-label" %><br>
    </div>
    <div class="col-sm-4">
      <%= f.date_field :date_of, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :category, "Categoría", class: "control-label" %><br>
    </div>
    <div class="col-sm-4">
      <%= f.select :category, grouped_options_for_select(categories_grouped_options, selected_key(@pool)), { prompt: '-Seleccionar-'}, { :class=> "form-control c-select chosen-select" }%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label( :razon_social_id, RazonSocial.new.table_name_to_show, class: "control-label") %>
    </div>
    <div class="col-sm-8">
      <%= f.collection_select( :razon_social_id, RazonSocial.all, :id, :record_name_to_show, { prompt: '-Seleccionar-'}, { class: "form-control c-select chosen-select" }) %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Añadir', modal_razon_socials_url(0,1,0), :method => :get, :remote => true, :ajax => true, :class => "btn btn-primary" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :monto, class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :monto, class: "form-control", :required => true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :payment_method_id, "Método de pago", class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.collection_select( :payment_method_id, PaymentMethod.where( :account_id => @pool.account_id), :id, :record_name_to_show, { prompt: '-Seleccionar-'}, { class: "form-control c-select chosen-select" }) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :forma_de_pago_nro, "Nº de Recibo", class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :forma_de_pago_nro, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :n_factura, "Factura", class: "control-label" %><br>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :n_factura, class: "form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.label :monto_factura, "Monto", class: "control-label" %><br>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :monto_factura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :description, "Descripción", class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :receiver, "Recibido por", class: "control-label" %><br>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :receiver, class: "form-control" %>
    </div>
  </div>
<% end %>