<p id="notice"><%= notice %></p>
<h1><%= @new_pool.table_name_to_show.titleize %></h1>
  <div class="row">
    <div class="col-sm-2">
      <%= link_to 'Nuevo Registro', modal_pools_url(0,1,1,{:account_id => @new_pool.account_id}), :method => :get, :remote => true, :class => "btn btn-primary auto_load" %>
    </div>
    <div class="col-sm-6 pull-sm-right">
      <%= render 'layouts/cierres_form', :cuenta =>  @new_pool.account_id %>
    </div>
    <div  class="col-sm-4">
      <div id="time_scope" class="btn-group" role="group">
        <%= link_to "Hoy", days_account_pools_url(@new_pool.account_id, 0), :class => "btn btn-outline-primary #{'active' if current_page? days_account_pools_url(@new_pool.account_id, 0) or current_page? root_url }" %>
        <%= link_to "7 días", days_account_pools_url(@new_pool.account_id, 7), :class => "btn btn-outline-primary #{'active' if current_page? days_account_pools_url(@new_pool.account_id, 7) }" %>
        <%= link_to "30 días", days_account_pools_url(@new_pool.account_id, 30), :class => "btn btn-outline-primary #{'active' if current_page? days_account_pools_url(@new_pool.account_id, 30) }" %>
        <%= link_to "Todos", account_pools_url, :class => "btn btn-outline-primary #{'active' if current_page? account_pools_url }" %>
      </div>
    </div>
  </div>
<div class="table">
  <table id="main_table" class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th><%= RazonSocial.new.table_name_to_show %></th>
        <th>Factura</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Balance</th>
        <th>Recibido por</th>
        <th>Recibo</th>
        <th>
          <button type="button" class="btn btn-success revertir">Invertir</button>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pools.reverse.each do |pool| %>
        <%= render 'row', :@pool => pool %>
      <% end %>
    </tbody>
  </table>
</div>
<% if false # comment block%>
  <%
    new_odt = Odt.new
    new_odt.comision_odts.build
    new_odt.deducciones_odts.build
  %>
  <%= render 'layouts/modal', :form_to_render => 'odts/form', :@odt => new_odt, :modal_title => 'Añadir ODT', :namespace_id => "new_odt" %>
  <%= render 'layouts/modal', :form_to_render => 'inversions/form', :@inversion => Inversion.new, :modal_title => 'Añadir Inversion', :namespace_id => "new_inversion" %>
  <%= render 'layouts/modal', :form_to_render => 'ggs/form', :@gg => Gg.new, :modal_title => 'Añadir Gastos Generales', :namespace_id => "new_gg" %>
  <%= render 'layouts/modal', :form_to_render => 'retenciones/form', :@retencione => Retencione.new, :modal_title => 'Añadir Retención', :namespace_id => "new_retencione" %>
  <%= render 'layouts/modal', :form_to_render => 'employees/form', :@employee => Employee.new, :modal_title => 'Añadir Empleado', :namespace_id => "new_employee" %>
<% end %>
<%= link_to '', modal_razon_socials_url(0,0,1), :method => :get, :remote => true, :class => " auto_load" %>