<p id="notice"><%= notice %></p>
<h1><%= @new_pool.table_name_to_show %></h1>
<p>
  <%= render 'layouts/modal_button', :btn_name => 'Nuevo Registro', :namespace_id => "new_#{@new_pool.model_name.singular}" %>
  <%= render 'layouts/modal', :form_to_render => "layouts/pools_form", :@pool => @new_pool, :modal_title => 'Nuevo Registro', :namespace_id => "new_#{@new_pool.model_name.singular}" %>
</p>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Categoría</th>
        <th>Nombre o Alias</th>      
        <th><%= RazonSocial.new.table_name_to_show %></th>
        <th>Monto</th>
        <th>Balance</th>
        <th>Tipo de comprobante</th>
        <th>Nº comprobante</th>
        <th>Descripción</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @pools.reverse.each do |pool| %>
        <tr>
          <td><%= pool.date_of %></td>
          <td><%= (link_to pool.category.table_name_to_show, pool.category.class) if pool.category %></td>
          <td><%= (link_to pool.category.record_name_to_show, pool.category) if pool.category %></td>
          <td><%= (link_to pool.razon_social.record_name_to_show, pool.razon_social) if pool.razon_social %></td>
          <td><%= pool.monto %></td>
          <td><%= pool.balance %></td>
          <td><%= pool.comprobante_type %></td>
          <td><%= pool.n_comprobante %></td>
          <td><%= pool.description %></td>
          <td>
            <%= render 'layouts/modal_button', :btn_name => 'Editar', :namespace_id => "edit_#{@new_pool.model_name.singular}_#{pool.id}" %>
            <%= render 'layouts/modal', :form_to_render => "layouts/pools_form", :@pool => pool, :modal_title => 'Editar', :namespace_id => "edit_#{@new_pool.model_name.singular}_#{pool.id}" %>
          </td>
          <td><%= link_to '×', pool, :method => :delete, :data => { :confirm => '¿Está seguro?' }, :remote => true, :class => "delete_row close equis" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%
  new_odt = Odt.new
  new_odt.comision_odts.build
  new_odt.deducciones_odts.build
%>
<%= render 'layouts/modal', :form_to_render => 'odts/form', :@odt => new_odt, :modal_title => 'Añadir ODT', :namespace_id => "new_odt" %>
<%= render 'layouts/modal', :form_to_render => 'inversions/form', :@inversion => Inversion.new, :modal_title => 'Añadir Inversion', :namespace_id => "new_inversion" %>
<%= render 'layouts/modal', :form_to_render => 'ggs/form', :@gg => Gg.new, :modal_title => 'Añadir Gastos Generales', :namespace_id => "new_gg" %>
<%= render 'layouts/modal', :form_to_render => 'retenciones/form', :@retencione => Retencione.new, :modal_title => 'Añadir Retención', :namespace_id => "new_retencione" %>
<%= render 'layouts/modal', :form_to_render => 'employees/form', :@employee => Employee.new, :modal_title => 'Añadir Empleado', :namespace_id => "new_employee" %>
<%= render 'layouts/modal', :form_to_render => 'razon_socials/form', :@razon_social => RazonSocial.new, :modal_title => 'Añadir Razón social', :namespace_id => 'new_razon_social' %>