<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title> 
  <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'chosen-bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="tf-menu" class="navbar navbar-dark navbar-fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav">
          <% Account.all.each do |account| %>
            <li class="nav-item">
              <a href= "<%= days_account_pools_url(account.id, 0)%>" class="nav-link"><%= account.name %></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a href="/odts" class="nav-link"><%= Odt.new.table_name_to_show %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OTROS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="dropdown-item" href="/razon_socials"><%= RazonSocial.new.table_name_to_show %></a>
              <a class="dropdown-item" href="/payment_cards">Tarjetas</a>
              <a class="dropdown-item" href="/employees"><%= Employee.new.table_name_to_show %></a>
              <a class="dropdown-item" href="/inversions"><%= Inversion.new.table_name_to_show %></a>
              <a class="dropdown-item" href="/ggs"><%= Gg.new.table_name_to_show %></a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.record_name_to_show %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <%= link_to 'Perfil', edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <div class="row">
      <div class="alert alert-success hidden" role="alert">
        <%= success %>
      </div>
      <div class="alert alert-info hidden" role="alert">
        <%= info %>
      </div>
      <div class="alert alert-warning hidden" role="alert">
        <%= warning %>
      </div>
      <div class="alert alert-danger hidden" role="alert">
        <%= alert %>
      </div>
    </div>

    <%= yield %>
      
  </div>

  <nav id="footer" class="navbar">
    <div class="pull-left fnav">
        <p>Todos los derechos reservados. Copyright © 2016. Creado por <a href="#">Taionca</a></p>
    </div>
    <div class="pull-right fnav">
      
    </div>
  </nav>

</body>
</html>
