<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title> 
  <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="tf-menu" class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand">ODT TAIONCA</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item active">
          <a href="#tf-cajachica" class="nav-link">Operaciones</a>
        </li>
        <li class="nav-item">
          <a href="#tf-odt" class="nav-link">Nuevos Registros</a>
        </li>     
      </ul>
    </div>
  </nav>


<div class=class="row">
  <p class="notice"><%= notice %></p>                                           │
  <p class="alert"><%= alert %></p> 

  <%= yield %>
  
</div>
<nav id="footer">
      <div class="container">
        <div class="pull-left fnav">
            <p>Todos los derechos reservados. Copyright © 2016. Creado por <a href="#">Taionca</a></p>
        </div>
        <div class="pull-right fnav">
        </div>
      </div>
</nav>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'js', 'data-turbolinks-track' => true %>  
</body>
</html>
