<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title> 
  <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">ODT TAIONCA</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#tf-cajachica" class="page-scroll">Operaciones</a></li>
            <li><a href="#tf-odt" class="page-scroll">Nuevos Registros</a></li>     
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class=class="row">
  <p class="notice"><%= notice %></p>                                           │
  <p class="alert"><%= alert %></p> 

  <%= yield %>
  
</div>
<nav id="footer">
      <div class="container">
        <div class="pull-left fnav">
            <p>Todos los derechos reservados. Copyright © 2016. Creado por <a href="#">Taionca</a></p>
        </div>
        <div class="pull-right fnav">
        </div>
      </div>
</nav>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'js', 'data-turbolinks-track' => true %>  
</body>
</html>
