<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title> 
  <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'owl.theme', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>                                           │
<p class="alert"><%= alert %></p> 

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'js', 'data-turbolinks-track' => true %> 
</body>
</html>
